<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,500&display=swap" rel="stylesheet"> 
</head>
<body>
   <header>
       <nav>
           <a href="/">Homepage</a>
           {{#if loggedIn}}
           <a href="/dashboard">Dashboard</a>
           <button id="logout">Logout</button>
           {{else}}
           <a href="/login">Login</a>
           {{/if}}
       </nav>
       <h1>
           <a href="/">The Tech Blog</a>
       </h1>
   </header>
   <main>
       {{{body}}}
   </main>
</body>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

</html>