<article class="login">
    <h1>Login</h1>
    <form class="login-form">
        <div>
            <label for="username-login">Username</label>
            <input type="text" id="username-login">
        </div>
        <div>
            <label for="password-login">Password</label>
            <input type="password" id="password-login">
        </div>
        <div>
            <button type="submit">Login!</button>
        </div>
    </form>
    <a class ="signup-link" href="/signup">Sign up instead!</a>
</article>

<script src="javascript/login.js"></script>