<article class="signup">
    <h1>Sign Up</h1>
    <form class="signup-form">
        <div>
            <label for="username-signup">Username</label>
            <input type="text" id="username-signup">
        </div>
        <div>
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup">
        </div>
        <div>
            <button type="submit">Sign Up!</button>
        </div>
    </form>
    <a class ="login-link" href="/login">Login instead!</a>
</article>

<script src="/javascript/signup.js"></script>