<article class="signup">
    <h1>Sign Up</h1>
    <form class="signup-form">
        <div>
            <label for="username-login">Username</label>
            <input type="text" id="username-login">
        </div>
        <div>
            <label for="password-login">Password</label>
            <input type="text" id="password-login">
        </div>
        <div>
            <button type="submit">Sign Up!</button>
        </div>
    </form>
    <a class ="login-link" href="/login">Login instead!</a>
</article>